<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatisimpl.mappers.ReservaMapper">

    <resultMap type="Reserva" id="ReservaResult">
        <id property="id" column="id_reserva"/>
        <result property="inicio" column="inicio"/>
        <result property="fin" column="fin"/>
        <result property="recurrente" column="recurrente"/>
        <result property="estado" column="estado"/>
        <result property="solicitud" column="solicitud"/>
        <association property="idRecurso" javaType="Recurso" resultMap="persistence.mybatisimpl.mappers.RecursoMapper.RecursoResult"/>
        <association property="idUsuario" javaType="Usuario" resultMap="persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"/>
        <collection property="reservaRecurrentes" ofType="ReservaRecurrente" resultMap="persistence.mybatisimpl.mappers.ReservaRecurrenteMapper.ReservaRecurrenteResult"/>
        <collection property="usuarios" ofType="Usuario" resultMap="persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"/>
    </resultMap>

    <insert parameterType="map" id="reservarRecurso">
        insert into reservas(id_reserva, id_usuario, id_recurso, inicio, fin, recurrente, estado, solicitud)
        values (nextval('reservas_id') #{usuario.id}, #{recurso.id}, #{inicio}, #{fin}, #{recurrente}, #{estado}, #{solicitud})
    </insert>

    <select id="consultarReservas" resultMap="ReservaResult">
        select
        res.id_reserva,
        res.inicio,
        res.fin
        from public.reservas as res;
    </select>
    <select id="consultarReservasActivas" resultMap="ReservaResult">
        select
        res.estado,
        res.solicitud,
        res.inicio,
        res.fin
        from public.reservas as res
        WHERE res.estado = 'activa' AND res.id_usuario = #{id}
    </select>

    <select id="consultarReservasCanceladas" resultMap="ReservaResult">
        select
            res.estado,
            res.solicitud,
            res.inicio,
            res.fin
        from public.reservas as res
        WHERE res.estado = 'cancelada' AND res.id_usuario = #{id}
    </select>

    <select id="consultarReservasPasadas" resultMap="ReservaResult">
        select
            res.estado,
            res.solicitud,
            res.inicio,
            res.fin
        from public.reservas as res
        WHERE res.estado = 'finalizada' AND res.id_usuario = #{id}
    </select>

    <update id="cancelarReserva" >
        update public.reservas
        set estado = 'cancelada'
        where id_reserva = #{idReserva}
    </update>


</mapper>